.sample-card {
  height: 400px;
  width: 400px;
}

.sample-card:hover {
  transform: scale(1.05);
  transition-duration: 0.25s;
  transition-property: transform;
}

.card-img {
  object-fit: cover;
}

.title {
  text-shadow: 2px 2px 3px rgba(1, 94, 156, 0.815);
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 88, 146, 0.692);
  position: absolute;
  z-index: 1;
}
